apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: expense
spec:
  clusterIP: None
  selector:
    app: mysql
    tier: db
    project: expense
  ports:
    - name: mysql-port
      protocol: TCP
      port: 3306
      targetPort: 3306