apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: expense
  labels:
    app: mysql
    tier: db
    project: expense
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
      tier: db
      project: expense
  serviceName: "mysql"
  template:
    metadata:
      labels:
        app: mysql
        tier: db
        project: expense
    spec:
      securityContext:
        fsGroup: 999 
      containers:
        - name: mysql
          image: acavinash/mysql:{{ .Values.statefulset.imageVersion }}
          readinessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 3306
            initialDelaySeconds: 15
            periodSeconds: 10
          volumeMounts:
            - name: mysql
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql
          persistentVolumeClaim:
            claimName: ebs-dynamic-pvc